<!DOCTYPE HTML>
<html>

<head>
	<title>关于</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Add fancyBox main JS and CSS files -->
	<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
</head>

<body>
	<div class="single-header">
		<div class="wrap">
			<div class="logo">
				<a href="index.html">
					<img src="images/logo.png" alt="" />
				</a>
			</div>
			<div class="header-right">
				<div id='cssmenu'>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li> |
						<li>
							<a href="product.html">产品</a>
						</li> |
						<li>
							<a href="blog.html">动态</a>
						</li> |
						<li>
							<a href="contact.html">联系</a>
						</li> |
						<li class='active'>
							<a href="about.html">关于</a>
						</li>
					</ul>
				</div>
				<div class="search_box">
					<form>
						<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="main">
		<div class="wrap">
			<div class="single-top">
				<h4 class="m_2">关于</h4>
				<div class="about-desc">
					<p>致力于中小企业信息系统开发、运营辅助。接收企业门户定制开发，内部信息管理系统开发定制，服务咨询，技术支持、运维管理。</p>
					<p>团队坐标杭州，成员都来自一线互联网公司，有着丰富的产品开发和运维管理经验。</p>
					<p>欢迎有想法的伙伴加入！</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="footer-left">
				<ul class="footer-nav">
					<li>
						<a href="index.html">首页</a>
					</li> |
					<li>
						<a href="product.html">产品</a>
					</li> |
					<li>
						<a href="blog.html">动态</a>
					</li> |
					<li>
						<a href="contact.html">联系</a>
					</li> |
					<li>
						<a href="about.html">关于</a>
					</li>
				</ul>
				<div class="copy">
					<p>Copyright &copy; 2018. muidea.com All rights reserved.</p>
				</div>
			</div>
			<div class="social">
				<ul>
					<li class="facebook">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="linkedin">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="twitter">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="pinterest">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="dribble">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="google">
						<a href="#">
							<span> </span>
						</a>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>

</html>