<!DOCTYPE HTML>
<html>

<head>
	<title>联系</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="single-header">
		<div class="wrap">
			<div class="logo">
				<a href="index.html">
					<img src="images/logo.png" alt="" />
				</a>
			</div>
			<div class="header-right">
				<div id='cssmenu'>
					<ul>
						<li>
							<a href="index.html">首页</a>
						</li> |
						<li>
							<a href="product.html">产品</a>
						</li> |
						<li>
							<a href="blog.html">动态</a>
						</li> |
						<li class='active'>
							<a href="contact.html">联系</a>
						</li> |
						<li>
							<a href="about.html">关于</a>
						</li>
					</ul>
				</div>
				<div class="search_box">
					<form>
						<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="main">
		<div class="contact">
			<div class="wrap">
				<div class="section group">
					<div class="col_1_of_2 span_1_of_2">
						<div class="contact-form">
							<p>很高兴能收到您的信息，请留下您的联系方式，以便我们进一步沟通.</p>
							<form method="post" action="contact-post.html">
								<div>
									<span>
										<label>您的称呼</label>
									</span>
									<span>
										<input name="userName" type="text" class="textbox">
									</span>
								</div>
								<div>
									<span>
										<label>E-Mail</label>
									</span>
									<span>
										<input name="userEmail" type="text" class="textbox">
									</span>
								</div>
								<div>
									<span>
										<label>主题</label>
									</span>
									<span>
										<input name="userPhone" type="text" class="textbox">
									</span>
								</div>
								<div>
									<span>
										<label>内容</label>
									</span>
									<span>
										<textarea name="userMsg"> </textarea>
									</span>
								</div>
								<div>
									<span>
										<input type="submit" value="提交">
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col_1_of_2 span_1_of_2">
						<div class="map">
							<div class="map-border">
								<iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="#"></iframe>
								<br>
								<small>
									<a href="#" style="color:#666;text-align:left;font-size:12px"></a>
								</small>
							</div>
						</div>
						<ul class="contactInfo">
							<li>
								<img src="images/location.png" alt="" />
								<div class="company_address">
									<h3>联系方式</h3>
									<p>微信: 21883911</p>
									<p>Email:
										<span>info[at]bluebox.com</span>
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="footer-left">
				<ul class="footer-nav">
					<li>
						<a href="index.html">首页</a>
					</li> |
					<li>
						<a href="product.html">产品</a>
					</li> |
					<li>
						<a href="blog.html">动态</a>
					</li> |
					<li>
						<a href="contact.html">联系</a>
					</li> |
					<li>
						<a href="about.html">关于</a>
					</li>
				</ul>
				<div class="copy">
					<p>Copyright &copy; 2018. muidea.com All rights reserved.</p>
				</div>
			</div>
			<div class="social">
				<ul>
					<li class="facebook">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="linkedin">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="twitter">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="pinterest">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="dribble">
						<a href="#">
							<span> </span>
						</a>
					</li>
					<li class="google">
						<a href="#">
							<span> </span>
						</a>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>

</html>